{% extends "base_timeline.html" %}
{% load staticfiles %}

{% block content %}

<div class="content">
	<div class="row">
		<div class="col-md-12 text-center">
			<h2>kwik</h2>
			<p>High Quality Ads For You</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			{% if form.errors %}
				<p class="error">Sorry, chuchu.</p>
			{% endif %}

			<form role="form" action="{% url 'account:auth_view' %}" method="POST">
				{% csrf_token %}
				<legend>LOGIN</legend>
				<div class="form-group">
					<input type="text" class="form-control" name="username" placeholder="Email/Username">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="password" placeholder="Password">
				</div>
				<div class="form-group">
					<input type="submit" class="form-control" value="login">
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock content %}

