{% extends "base_info.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
	<div class="col-md-3">
		<p>About the Owner</p>
		<div class="media">
		  <div class="media-left middle">
		    <a href="#">
		      <img class="media-object" src="http://placehold.it/50x50" style="border-radius:50%" alt="...">
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading"><a style="text-decoration:none;color:black" href="#">Roselle M. Ebarle</a></h4>
		    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut dapibus purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		    <a class="btn btn-info" href="#">Contact Now</a>
		  </div>
		</div>
		<hr>
		<p>Recommended Ads</p>
		<ul>
			<li><a href="#"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu ex urna. Nulla sit amet felis at ante tincidunt egestas eget nec felis. </a></li>
			<li><a href="#"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu ex urna. Nulla sit amet felis at ante tincidunt egestas eget nec felis. </a></li>
			<li><a href="#"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<img src="http://placehold.it/800x400" style="width:100%;">
			</div>
			<div class="panel-body">
				<h3 style="margin:0;font-weight:bold"><a href="/info/" style="color:black;">iPhone 6S</a></h3> 
				
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu ex urna. Nulla sit amet felis at ante tincidunt egestas eget nec felis. Pellentesque posuere quis lectus id malesuada.</p>
			</div>
			<div class="panel-footer">
				<div class="media">
				  <div class="media-left">
				    <a href="#">
				      <img class="media-object" src="http://placehold.it/50x50" style="border-radius:50%" alt="...">
				    </a>
				  </div>
				  <div class="media-body text-right">
				    <h4 class="media-heading"><a href="#">P 1,000.00</a></h4>
				    <p>P 880.00 </p>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
 